{% extends 'base.html.twig' %}

{% block body %}

<div class="jumbotron">
  <h1 class="display-4">Hello, Simcao!</h1>
  <p class="lead">Symfony est installé avec les librairies twitter bootstrap !</p>
  <hr class="my-4">
  <p>Vous pouvez commencer à développer, ou vous rendre sur la documentation simcao pour créer votre application.</p>
  <a class="btn btn-primary btn-lg" href="https://documentation.simcao.com" role="button">Documentation</a>
</div>

{% endblock %}
